body{
    background-color:#fff8e7;

}

nav{
    display:flex;
    gap: 30px;
    text-align: left;
    margin-left: 200px;
}

nav ul{
    list-style: none;
    display:flex;
    gap:20px;
    justify-content:center;
    padding:0;
}

nav a{
    text-decoration: none;
    color:#f5ebdd;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover{
    opacity:0.7;
}

.btn-reserva{
    background:transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    padding:10px 20px;
}

header{
    width: 100%;
    height: 80px;
    background-color:#920501;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 60px;
}

.logo{
    position: absolute;
    left: 10px;
    width: 100px;
    height: auto;
     text-align: left;
    margin-left: 30px;
}

.content{
    text-align: center;
}
.content h1{
    color:#920501
}

.btn-cardapio{
    background-color: #920501;
    border: 2px solid #920501;
    border-radius: 10px;
    color: #f5ebdd;
    padding:10px 20px;
}

.hero{

    min-height: 700px;

    text-align: center;

    padding-top: 40px;
 
    background-image: url("img/fundo.png");

    background-size: cover;

    background-position: center;

}
 
.beneficios{

    width: 90%;

    max-width: 1200px;
 
    margin: 80px auto 0 auto;
 
    background: #f8f1e5;
 
    border-radius: 15px;
 
    padding: 25px;
 
    display: flex;

    justify-content: space-between;
 
    box-shadow: 0 4px 10px rgba(0,0,0,.1);

}
 
